/*
*Stylesheet of the login page
* Only display the jumbotron where user can login
*/

.jumbotron{
    text-align: center;
}
#logoutButton{
    display: none;
}
#loginSignupButton  {
    display: none;
}