/*
*Stylesheet of the login page
* Only display the jumbotron where user can login
*/

.jumbotron{
    text-align: center;
}
/* logout button invisible. */
#logoutButton{
    display: none;
}

/*make login sign button invisible */
#loginSignupButton  {
    display: none;
}