/*The stylesheet of the map page, 
*/
#mapImage {
    display: grid;
    height: fit-content;
    align-items: center;
    justify-items: center;
} 

#mapImage img {
    width: 70%;
    height: 80vh;
}