/*
Stylesheet of the main page, the header, and footer navigation bar, profile page*/
.jumbotron{
    text-align: center;
}
body{
    margin-bottom: 3%;
    background-color: #1d1e22;
    color: #d4d4dc;
}

.inner-div {
    background-color: #393f4d;
    color: #d4d4dc;
}

.card{
    margin-bottom: 18px;
    color: black;
}

.modified-header {
    background-color: #1d1e22;
    color: #d4d4dc;
    font-weight: 600;
}

textarea {height: 40vh;}

.nav-text {
    color:#d4d4dc;
    font-family: 'Kanit', sans-serif;
    font-weight: 590;
    font-size:28px;
}


#footer_container {
    display: grid;
    width: 100%;
    height: 8%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    padding-bottom: 2%;
}

#profile {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    position: relative;
}
#profile_text {
   
    left: 0%;
}

#main {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    position: relative;
    left: 100%;
    padding-top: 0.2vw;
}

#main_text {
   
    left: -5%;
}
#map {
    
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    position: relative;
    left: 200%;
}
#map_text {
    
    left: -10%;
}
#add_post {
    /*Post icon placement*/
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    position: relative;
    left: 300%;
}
#add_post_text {
    /*Placing text underneath the icon*/

    left: 7%;
}
.foot_icons {
    /*resizing and recoloring icons*/
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    color:#d4d4dc;
}

.button1{
    background-color: #1d1e22; 
    border: none;
    color: whitesmoke;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.button1:hover {
    box-shadow: 0 0 2.5px whitesmoke;
}

.centering_icon_text {
    /* using relative and absolute positioning to center text for each icon*/
    position: absolute;
    z-index: 1%;
    font-size: 1.2vw;
    color:#d4d4dc;
    top: 72%;
}
.deleteButton{
    width: 40px;
    height: 20px;
}
.loggedIn {
    display: none;
}

.form-label {
    font-size: 19px;
    font-weight: 600;
}

.deletepost {
    display: none;
}



 /*============== Making a CSS grid for our sticky footer =====================*/

@media only screen and (max-width: 768px) {
    .foot_icons {
        /*resizing and recoloring icons*/
        font-size: 7vw;
        color:#d4d4dc;
    }

    .centering_icon_text {
        /* using relative and absolute positioning to center text for each icon*/
        position: absolute;
        z-index: 1%;
        top: 59%;
        font-size: 4vw;
        color:#d4d4dc;
    }
    #add_post_text {
        /*Placing text underneath the icon*/

        left: -5%;
    }
    #map_text {
        /*Placing text underneath the icon*/
        left: -15%;
    }
    #main_text {
        /*Placing text underneath the icon*/
        left: -10%;
    }
    #profile_text {
        /*Placing text underneath the icon*/
        left: -10%;
    }
}