
.jumbotron{
    text-align: center;
}
body{
    margin-bottom: 3%;
}
.card{
    margin-bottom: 10px;
}
textarea {height: 40vh;}




#footer_container {
    
    display: grid;
    width: 100%;
    height: 7%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    padding-bottom: 2%;
}

#profile {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    position: relative;
}
#profile_text {
   
    left: 0%;
}

#main {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    position: relative;
    left: 100%;
}

#main_text {
   
    left: -5%;
}
#map {
    
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    position: relative;
    left: 200%;
}
#map_text {
    
    left: -10%;
}
#add_post {
    /*Post icon placement*/
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    position: relative;
    left: 300%;
}
#add_post_text {
    /*Placing text underneath the icon*/

    left: 7%;
}
.foot_icons {
    /*resizing and recoloring icons*/
    padding-top: 0.5vw;
    font-size: 2.2vw;
    color: whitesmoke;
}

.centering_icon_text {
    /* using relative and absolute positioning to center text for each icon*/
    position: absolute;
    z-index: 1%;
    font-size: 1.2vw;
    color: whitesmoke;
    top: 72%;
}

.loggedIn {
    display: none;
}



 /*============== Making a CSS grid for our sticky footer =====================*/

@media only screen and (max-width: 768px) {
    .foot_icons {
        /*resizing and recoloring icons*/
        font-size: 7vw;
        color: whitesmoke;
    }

    .centering_icon_text {
        /* using relative and absolute positioning to center text for each icon*/
        position: absolute;
        z-index: 1%;
        top: 59%;
        font-size: 4vw;
        color: whitesmoke;
    }
    #add_post_text {
        /*Placing text underneath the icon*/

        left: -5%;
    }
    #map_text {
        /*Placing text underneath the icon*/
        left: -15%;
    }
    #main_text {
        /*Placing text underneath the icon*/
        left: -10%;
    }
    #profile_text {
        /*Placing text underneath the icon*/
        left: -10%;
    }
}